* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url(./IMAGES/Background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   padding-inline: 1.5em;
   min-height: 80px;
   font-size: 1.3rem;
}
.nav ul ,li,a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
    color: #f2f2f2;
}
.nav a:hover {
    text-decoration: underline;
    transition: all 1s;
}

.nav .r-container {
    display: flex;
    gap: 1rem;
    
}
.nav .r-container a {
    color: #f2f2f2;
    background-color: #000;
    padding-inline: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 1s;
}
.nav .r-container a:hover {
    background-color: #f2f2f2;
    color: #000;
}